:root {
  --textColor: #000000;
}

body {
  margin-top: 0.5rem;
  width: 70%;
  margin: 0 auto;
  background-color: #daecfb;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
}

button {
  cursor: pointer;
  border-radius: 10px;
  padding: 0.5rem;
}

button[type="submit"] {
  background-color: #2199e8;
  font-weight: 600;
}
